.content {
  display: flex;
  flex-direction: column;
  max-width: 608px;
  width: calc(100% - 16px);
  margin: 8px auto;
  min-height: 912px;
}

.orderList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  text-align: center;
  padding-left: 0;
  margin: 0;
  margin-right: 8px;
  overflow-y: scroll;
  position: relative;
  max-height: 812px;
  list-style: none;
  padding: 0;
}

/* .menu {
  overflow-y: scroll;
  position: relative;
  max-height: 664px;
  list-style: none;
  padding: 0;
} */

.orderList::-webkit-scrollbar {
  width: 8px;
  background: var(--bg-color-scroll);
}

.orderList::-webkit-scrollbar-thumb {
  width: 8px;
  height: 640px;
  background: var(--bg-color-scroll-thumb);
}

.orderLink {
  text-decoration: none;
  color: inherit;
}
