.container {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

.list {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.listItem {
  display: flex;
  align-items: center;
  line-height: 64px;
}

.link {
  text-decoration: none;
  color: var(--bg-color-scroll-thumb);
}

.activeLink {
  color: var(--active-text-color);
  text-decoration: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  opacity: .4;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 480px;
}

.exitButton {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-top: 20px;
}
