.content {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  min-height: 912px;
}

.menu {
  overflow-y: scroll;
  position: relative;
  max-height: 664px;
  list-style: none;
  padding: 0;
}

.menu::-webkit-scrollbar {
  width: 8px;
  background: var(--bg-color-scroll);
}

.menu::-webkit-scrollbar-thumb {
  width: 8px;
  height: 492px;
  background: var(--bg-color-scroll-thumb);
}
