.content {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.menu {
  overflow-y: scroll;
  position: relative;
  max-height: 664px;
}

.menu::-webkit-scrollbar {
  width: 8px;
  background: #2f2f37;
}

.menu::-webkit-scrollbar-thumb {
  width: 8px;
  height: 492px;
  background: #8585ad;
}
