.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 640px;
}

.orderInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.status {
  color: var(--aquamarine-text-color);
}

.ingredientContainer {
  width: 100%;
}

.ingredientList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-y: scroll;
  position: relative;
  max-height: 312px;
}

.ingredientList::-webkit-scrollbar {
  width: 8px;
  background: var(--bg-color-scroll);
}

.ingredientList::-webkit-scrollbar-thumb {
  width: 8px;
  height: 140px;
  background: var(--bg-color-scroll-thumb);
}

.orderNumber {
  position: absolute;
  top: 60px;
  left: 40px;
}

.timePrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 40px;
}

.orderPrice {
  display: flex;
  align-items: center;
}
