.header {
  display: flex;
  max-width: calc(100% - 40px * 2);
  margin: 0 auto;
  background: #1C1C21;
}

/*.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}*/

.menu {

}

.menuContainer {
  display: flex;
}

.menuItem {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
