.ingredient {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.image {
  width: 64px;
  height: 64px;
  object-fit: cover;
  /* background-color: #00CCCC; */
}

.ingredientPrice {
  display: flex;
  margin-right: 24px;
}
