.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
}

.heading {
  margin-bottom: 36px;
  padding: 0;
}

.image {
  font-size: 75px;
  margin-bottom: 36px;
}
